body{
    background-color: white;
}

.proyecto{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-pry{
    text-shadow: -2px 2px 5px rgb(0, 0, 0);
}

.navbar, .navbar-brand{
    padding: 5px 0px 0px 0px;
}

#proyecto-1{
    background-image: url('assets/clon-google-dark.webp');
}

#proyecto-2{
    background-image: url('assets/Rovacach.png');
}

#presentacion{
    height: 90vh;
    display:flex;
    align-items: center;
}

.tittle-test{
    color:white;
    text-shadow: -2px 2px 2px rgb(0, 0, 0);
}